.App {
  display:fex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  text-align: center;
  height:100vh;
  width:100vw;
  border:1px solid red;
  background-color:bisque;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
font-size:50px;
height:200px;
margin-top:50px;
}
p{
  font-size:50px;
  height:200px;
  margin-top:50px;
}
.first{
  color:blue;
}
.second{
  color:red;
}
.third{
  color:black;
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
